body {
    font-family: Arial, sans-serif;
    background-color: rgb(140, 110, 130);
    margin: 0;
    padding: 0;
}

/* Page title */
h3 {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(208, 169, 192);
    font-size: x-large;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Add activity section */
.add-activity {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

/* Disabled button */
.add-activity button:disabled {
    background-color:rgb(215, 199, 179);
    cursor: not-allowed;
    font-weight: bold;
    color: black;
    padding: 5px;
}

/* Error message */
.err {
    color: red;
    font-size: 15px;
    margin-top: 8px;
}

/* Activity cards container */
#actcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* space between cards */
    padding-bottom: 30px;
}

/* Card layout */
.container1 {
    padding: 15px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/* Activity title */
.container1 h3 {
    background-color: #5a1939;
    color: white;
    padding: 8px;
    border-radius: 15px;
}

#btn{
     background-color:rgb(215, 199, 179);
    
    font-weight: bold;
    color: black;
    padding: 5px;
}
#add{
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.container1 p {
    background-color: #d1cbd1;
    padding: 6px;
    font-weight: bolder;
    border-radius: 10px;
    
}


/* Date text */
.container1 h6 {
    margin: 8px 0;
    color: #444444;
}

/* Button */
.container1 button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #cd72a0;
    color: white;
    cursor: pointer;
    
}

/* Completed activity */
.completed {
    opacity: 0.6;
}


.err {
    color: red;
    font-size: 15px;
}

.container1 {
    background-color: rgb(209, 181, 193);
    padding: 15px;
    margin: 10px ;
    width: 300px;
    border-radius: 8px;


}

#actcontainer {
    display: flex;
    gap: 20px;
    
}

.completed {
    opacity: 0.6;
}

.stats{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
