* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(42, 41, 131, 0.967),
    rgb(148, 98, 135)
  );
}


.notificationcenter {
  width: 400px;
  background-color: rgba(24, 53, 117, 0.818);  
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding-bottom: 6px;
  border-top: 4px solid rgba(24, 53, 117, 0.818);

}

.header {
  position: relative;
  padding: 16px 20px;
  border-bottom: 1px solid rgb(24, 61, 117);
 background-color: rgb(87, 150, 217);}

.header h2 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(2, 8, 22);
}

.badge {
  width: 10px;
  height: 10px;
  background-color: rgb(217, 51, 51); /* alert red */
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.notification-list {
  display: flex;
  flex-direction: column;
}

/*notification item*/
.notification {
  background-color: rgb(236, 228, 228);
  display: flex;
  justify-content: space-between;
  gap: 12px ;
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease;
}

.notification:hover {
  background-color: rgb(165, 189, 213);
}

/* content*/
.content {
  flex: 1;
}

.title {
  font-size: 15px;
  font-weight: 600;
  color: rgb(15, 23, 42);
}

.message {
  font-size: 14px;
  color: rgb(75, 84, 96);
  margin-top: 5px;
}

.time {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  color: rgb(100, 116, 139);
  text-align: right;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(68, 173, 94); /* green = unread */
  border-radius: 50%;
  margin-top: 6px;
}

/*toggle-Read*/
.notification.read {
  background-color: rgb(200, 206, 217);
}

.notification.read .title {
  font-weight: lighter;
  color: rgb(148, 163, 184);
}

.notification.read .message {
  color: rgb(148, 163, 184);
}

.notification.read .time {
  color: rgb(156, 163, 175);
}

.notification.read .status-dot {
  display: none;
}
